body {
  text-align: center;
  background-image: url("./assests/dark-tress.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.home {
  height: 100vh;
}

.home-title {
  color: white;
  
  font-size: 100px;
  margin: .5rem auto;
  text-align: center;
  padding-left: 30px;
  margin-top: 280px;
}

.home-welcome {
  color: white;
  
  font-size: 30px;
  margin: .5rem auto;
  text-align: center;
  padding-left: 30px;
}

.github {
  height: 80px;
}

.linkedin {
  height: 80px;
  padding-left: 50px;
}

.mail {
  height: 80px;
  padding-left: 50px;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
  width: 25%;
  margin-top: 50px;
}

.about {
  height: 100vh;
}

.about-me {
  color: white;
  filter: drop-shadow(1px 1px 8px black);
  font-size: 100px;
  margin: .5rem auto;
  text-align: center;
  padding-left: 30px;
  margin-top: 80px;
}

.my-paragraph {
  color: white;
  filter: drop-shadow(1px 1px 8px black);
  font-size: 20px;
  margin: .5rem auto;
  text-align: center;
  width: 50%;
  padding-left: 30px;
}

.about-icons {
  height: 90px;
  padding: 10px;
}

.about-icons-stack {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home {
  align-content: center;
}

.skills {
  color: white;
  filter: drop-shadow(1px 1px 8px black);
  font-size: 30px;
}

.projects {
  height: 100vh;
}

.carousel {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-left: 300px;
  padding-right: 300px;
  
}

.project-title {
  color: white;
  filter: drop-shadow(1px 1px 8px black);
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
}

.contact-page{
  height: 100vh;
}

.contact {
  height: 100vh;
}