body {
  text-align: center;
  background-image: url("./assests/dark-tress.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.home {
  height: 100vh;
}

.home-title {
  color: white;
  
  font-size: 100px;
  margin: .5rem auto;
  text-align: center;
  margin-top: 280px;
}

.home-welcome {
  color: white;
  
  font-size: 30px;
  margin: .5rem auto;
  text-align: center;
}

.github {
  height: 80px;
}

.linkedin {
  height: 80px;
}

.mail {
  height: 80px;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
  width: 25%;
  margin-top: 50px;
}

.about {
  height: 100vh;
}

.about-me {
  color: white;
  filter: drop-shadow(1px 1px 8px black);
  font-size: 100px;
  margin: .5rem auto;
  text-align: center;
  margin-top: 80px;
}

.my-paragraph {
  color: white;
  filter: drop-shadow(1px 1px 8px black);
  font-size: 20px;
  margin: .5rem auto;
  text-align: center;
  width: 50%;
}

.about-icons {
  height: 90px;
  padding: 10px;
}

.about-icons-stack {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home {
  align-content: center;
}

.skills {
  color: white;
  filter: drop-shadow(1px 1px 8px black);
  font-size: 30px;
}

.projects {
  height: 100vh;
}

.carousel {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.project-title {
  color: white;
  filter: drop-shadow(1px 1px 8px black);
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
}

.contact-page{
  height: 100vh;
}

.contact {
  height: 100vh;
  padding-top: 130px;
}

.field {
  display: flex;
  text-align: center;
  flex-flow: column;
  margin: auto;

}

.field-text {
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
}

.field-button {
  display: flex;
  justify-content: center;
  margin: 0;
}

.recap {
 display: flex;
 justify-content: center;
 padding-top: 30px;
}

.comment-text {
  height: 120px;
  width: 40%;
  margin: auto;
}

.email-text {
  height: 60px;
  width: 20%;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  .contact {
    height: 50vh;
    margin-top: 400px;
  }

}

@media only screen and (max-width: 600px) {
  .contact {
    height: 100vh;
    position: relative;
    top: 800px;
  }
  .about-icons-stack {
    display: flex;
    flex-wrap: wrap;
  }

}
@media only screen and (max-width: 700px) {
  .about-icons-stack {
    display: flex;
    flex-wrap: wrap;
  }

}
@media only screen and (max-width: 565px) {
  .my-paragraph {
    width: 80%;
  }
  .project-title {
    position: relative;
    top: 100px;
  }
}


@media only screen and (max-width: 405px) {
  .project-title {
    position: relative;
    top: 150px;
  }
  .contact {
    height: 75vh;
    position: relative;
    top: 1000px;
  }
  .email-text {
    width: 50%;
  }
  .comment-text {
    width: 80%;
  }
}

@media only screen and (max-width: 380px) {
  .project-title {
    position: relative;
    top: 150px;
  }
  .contact {
    height: 105vh;
    position: relative;
    top: 1200px;
  }
  .email-text {
    width: 50%;
  }
  .comment-text {
    width: 80%;
  }
}

